.projects {
    z-index: 2;
    padding: 8rem 0 2rem 0;
    margin: 0 auto;
    position: relative;

    @media (max-width: 480px) {
        padding-top: 4rem;
    }

    .projects__title, .projects__title2 {
        font-family: var(--font-rubikmonoone);
        font-size: 6rem;
        color: var(--main-yellow);
        width: min-content;
        text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
        text-align: center;
        width: 100%;

        @media (max-width: 768px) {
            font-size: 4rem;
            text-align: center;
        }
        @media (max-width: 480px) {
            font-size: 3rem;
        }
    }

    .projects__title2 {
        color: var(--main-red);
        margin: 3rem 0;
        line-height: 5rem;
        @media (max-width: 768px) {
        }
    }

    .projects__content {
        text-align: center;
        padding: 0 20rem;
        font-size: 1.5rem;
        color: var(--text);
        @media (max-width: 1279px) {
            padding: 0 20%;
        }
        @media (max-width: 768px) {
            padding: 0 1rem;
        }
    }

    .projects__cards {
        margin: 5rem auto;
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2rem;

        scroll-timeline-name: --imageTimeline;

        @media (max-width: 1279px) {
            grid-gap: 1rem;
            grid-template-columns: auto auto;
        }

        @media (max-width: 768px) {
            grid-template-columns: auto;
            margin: 0 auto;
            grid-gap: 1rem;
            scroll-timeline-name: none;
        }
    }

    .projects__card {
        display: block;
        width: fit-content;
        min-height: min-content;
        height: 350px;
        max-height: 350px;
        position: relative;
        user-select: none;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow:
        5px 0 10px rgba(0, 0, 0, 0.2),
            inset 5px -5px 10px rgba(0, 0, 0, 0.2);

        transform: translateY(4rem);
        animation-name: slideUp;
        animation-timeline: view();
        animation-range: 0% 40%;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        @media (max-width: 768px) {
            transform: none;
            animation-name: unset;
            max-height: 10rem;
            animation-range: unset;
            animation-timeline: none;
        }

        .projects__image {
            transition: filter 0.4s ease, transform 0.8s ease;
            height: 350px;
            object-fit: cover;
            object-position: top center;

            @media (max-width: 768px) {
                max-height: 10rem;
                object-fit: cover;
            }
        }

        h3 {
            min-width: 350px;
            max-width: 450px;
            font-size: 2.5rem;
            line-height: 2.2rem;
            position: absolute;
            opacity: 0;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            font-family: var(--font-rubikmonoone);
            text-align: center;
            transition: opacity 0.3s;
            color: var(--main-red);
            text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
            @media (max-width: 768px) {
                font-size: 2rem;
                line-height: 1.8rem;
            }
            @media (max-width: 480px) {
                top: 35%;
                font-size: 2rem;
            }
        }

        .projects__tags {
            opacity: 0;
            list-style: none;
            display: flex;
            gap: 1rem;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s;

            @media (max-width: 768px) {
                top: 75%;
            }

            li {
                background-color: var(--main-blue);
                width: fit-content;
                padding: 0.5rem;
                color: white;
                border-radius: 2rem;
                font-weight: 900;
                font-size: 0.8rem;
            }
        }

        &:hover, &:focus-visible {
            .projects__image {
                filter: blur(2px) brightness(70%);
                transform: scale(1.025);
            }
            h3, .projects__tags {
                opacity: 1;
                z-index: 5;
            }
        }

        @media (max-width: 768px) {
            .projects__image {
                filter: blur(1px) brightness(70%);
            }
            h3, .projects__tags {
                opacity: 1;
                z-index: 5;
            }

        }
    }

    .seeMore {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        gap: 0.5rem;

        @media (max-width: 768px) {
            margin-top: 6rem;
        }

        p {
            width: fit-content;
            color: var(--middle);
            font-style: italic;
        }
        .allProjects {
            width: fit-content;
            font-size: 1.5rem;
            font-weight: 600;
            color: var(--text);

            &:hover {
                text-decoration: underline;
            }
        }

        .animating svg {
            animation: bounceRight 1s infinite ease-in-out;
        }
    }

}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;

    @media (max-width: 768px) {
        margin-top: 4rem;
    }

    .footer__first {
        width: fit-content;
        color: var(--middle);
        font-style: italic;
    }

    .footer__second {
        width: fit-content;
        font-size: 1.2rem;
        color: var(--text);
    }

    a {
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }
}

@keyframes slideUp {
    from {
        transform: translateY(4rem);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes bounceRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(4px);
  }
}

@view-transition {
    navigation: auto
}

.projects__card:nth-child(1) { animation-range: 0% 30%; }
.projects__card:nth-child(2) { animation-range: 10% 40%; }
.projects__card:nth-child(3) { animation-range: 20% 50%; }
.projects__card:nth-child(4) { animation-range: -10% 20%; }
.projects__card:nth-child(5) { animation-range: 0% 30%; }
.projects__card:nth-child(6) { animation-range: 10% 50%; }
.projects__card:nth-child(7) { animation-range: -10% 30%; }
.projects__card:nth-child(8) { animation-range: 0% 40%; }
.projects__card:nth-child(9) { animation-range: 10% 50%; }

@media (max-width: 768px) {
    .projects__card:nth-child(1) { animation-range: 0%; }
    .projects__card:nth-child(2) { animation-range: 0%; }
    .projects__card:nth-child(3) { animation-range: 0%; }
    .projects__card:nth-child(4) { animation-range: 0%; }
    .projects__card:nth-child(5) { animation-range: 0%; }
    .projects__card:nth-child(6) { animation-range: 0%; }
    .projects__card:nth-child(7) { animation-range: 0%; }
    .projects__card:nth-child(8) { animation-range: 0%; }
    .projects__card:nth-child(9) { animation-range: 0%; }
}