.navbar {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    font-size: 1.2rem;
    padding: 1.2rem 5rem;
    width: fit-content;
    position: fixed;
    z-index: 999;
    border-radius: 2rem;
    margin-top: 3rem;
    left: 50%;
    transform: translateX(-50%);


    .navbar__list {
        display: flex;
        gap: 2rem;

        .navbar__link {
            font-weight: 500;
            transition: color .2s;
            &:hover {
                color: var(--main-blue);
            }
        }
    }
}