.project {
    padding-top: 11rem;

    .project__intro {
        display: flex;
        justify-content: center;
        gap: 4rem;

        div {
            width: min-content;
            display: flex;
            align-items: center;
            gap: 4rem;
            flex-direction: column;
            p {
                font-size: 1.2rem;
                width: 40vw;
                padding: 2rem;
                background: rgba(255, 255, 255, 0.21);
                border-radius: 2rem;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.3);
            }
        }
    }
    .project__title {
        font-family: var(--font-rubikmonoone);
        font-size: 6rem;
        color: var(--main-blue);
        width: min-content;
        line-height: 80%;
        text-align: left;
        text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.4);
    }

}