.projects {
    min-height: 100rem;
    z-index: 2;
    padding-top: 7rem;
    margin: 0 auto;

    .projects__title {
        font-family: var(--font-rubikmonoone);
        font-size: 6rem;
        color: var(--main-yellow);
        width: min-content;
        text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
        text-align: center;
        width: 100%;
    }

    .projects__content {
        padding: 0 20rem;
        font-size: 1.2rem;
    }

    .projects__cards {
        margin: 5rem auto;
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 3rem;

        scroll-timeline-name: --imageTimeline;

    }


    .projects__card {
        display: block;
        width: fit-content;
        height: min-content;
        position: relative;

        transform: translateY(4rem); /* matches keyframes */
        animation-name: slideUp;
        animation-timeline: view();
        animation-range: 0% 40%; /* extend per card for stagger */
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        .projects__image {
            transition: filter 0.2s;
        }

        h3 {
            width: auto;
            max-width: inherit;
            font-size: 1.5rem;
            position: absolute;
            opacity: 0;
            left: 50%;
            top: 40%;
            transform: translate(-50%, -50%);
            font-family: var(--font-rubikmonoone);
            text-align: center;
            transition: opacity 0.3s;
            color: var(--main-red);
            text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
        }

        .projects__tags {
            opacity: 0;
            list-style: none;
            display: flex;
            gap: 1rem;
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
            transition: opacity 0.3s;

            li {
                background-color: var(--main-blue);
                width: fit-content;
                padding: 0.5rem;
                color: white;
                border-radius: 2rem;
                font-weight: 900;
                font-size: 0.8rem;
            }
        }

        &:hover {
            .projects__image {
                filter: blur(2px) brightness(110%);
            }
            h3, .projects__tags {
                opacity: 1;
                z-index: 5;
            }
        }
    }
}

@keyframes slideUp {
    from {
        transform: translateY(4rem);
    }
    to {
        transform: translateY(0);
    }
}

@view-transition {
    navigation: auto
}


.projects__card:nth-child(1) { animation-range: 0% 20%; }
.projects__card:nth-child(2) { animation-range: 10% 30%; }
.projects__card:nth-child(3) { animation-range: 20% 40%; }
.projects__card:nth-child(4) { animation-range: -10% 10%; }
.projects__card:nth-child(5) { animation-range: 0% 20%; }
.projects__card:nth-child(6) { animation-range: 10% 40%; }
.projects__card:nth-child(7) { animation-range: -10% 20%; }
.projects__card:nth-child(8) { animation-range: 0% 30%; }
.projects__card:nth-child(8) { animation-range: 10% 40%; }