.projects {
    min-height: 100rem;
    z-index: 2;
    padding-top: 10rem;
    width: 70%;
    margin: 0 auto;

    .projects__title {
        font-family: var(--font-rubikmonoone);
        font-size: 6rem;
        color: var(--main-yellow);
        width: min-content;
        text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
        text-align: center;
        width: 100%;
    }
}